<div>
    <p>$advert.getCategory()</p>
    <p>$advert.getTitle()</p>
    <p>$advert.getDescription()</p>
    <p>$advert.getPhoto()</p>
    <p>£$advert.getPrice()</p>
    <p>$advert.getLocation()</p>


    #if ($user)
    <p> Posted by: $user.getName()</p>
    #end
</div>

