<div>
    <p>$advert.getCategory()</p>
    <p>$advert.getTitle()</p>
    <p>$advert.getDescription()</p>
    <p>$advert.getPhotourl()</p>
    <p>£$advert.getPrice()</p>
    <p>$advert.getLocation()</p>


    #if ($aduser)
    <p> Posted by: $aduser.getName()</p>
    #end
</div>

