.grid-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cell {
  flex: 1;
  padding: 20px;
  text-align: center;
  color: palegoldenrod;

}

.button {
font-family:'Aclonica';
  font: bold 1.5em;
  text-decoration: none;
  background-color: #FFFFFF;
  color: goldenrod;
  padding: 2px 6px 2px 6px;
  margin: 0 auto;
}