<h2 class="pageHeader">New User</h2>

<form action="/users" method="post">

    <label for="email">E-mail Address: </label>
    <input class="inputbox" type="text" name="email" id="email" required="true>">

    <label for="name">Name: </label>
    <input class="inputbox" type="text" name="name" id="name" required="true">

    <input type="submit" value="Save" class="button">


</form>