<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bazaar</title>
</head>
<body>
<p>Logged in as: $user.getName()  <a href="/logout">Logout</a></p>

<nav>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/user/$user.getId()">My Account</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/advert/new">Create New Advert</a></li>
        <li><form action="/search" method="post">
            <input type="search" name ="query" placeholder="search for an item">
            <input type="submit" value="search">
        </form></li>

    </ul>
</nav>
    <div class="container">
        #parse( $template )
    </div>

</body>
</html>