<head>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
<header>BaZaAr
    <p>...just what you're looking for...</p>
</header>

<div class="login">
<form action="/login" method="post">
    <label for="email">E-mail Address</label>
    <input id="email" name="email" type="text">

    <button type="submit">Login</button>
   <a href="/user/new" class="button center">register</a>
</form>
</div>

</body>