<div>
<form action="/login" method="post">
    <label for="email">E-mail Address</label>
    <input id="email" name="email" type="text">

    <button type="submit">Login</button>
    <a href="/user/new">register</a>
</form>
</div>