<form action="/login" method="post">
    <label for="username">E-mail Address</label>
    <input id="username" name="username" type="text">

    <button type="submit">Login</button>
    <a href="/user/new">register</a>
</form>