<h1>Bazaar</h1>

<a href="/$advert.getCategory(0)" class="button center">$advert.getCategory(0)</a>

<a href="/advert" class="button center">Departments</a>

<a href="/advert" class="button center">Managers</a>

<a href="/advert" class="button center">Engineers</a>